@font-face {
  font-family: "aliens";
  src: url(../public/fonts/Future\ Blood.ttf)
}

.App{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width:100%;
  height:100vh;
  background-image: url(../public/img/background.png)  ;
  background-size: cover;
  /* font-size: 60px; */
  text-align: center;
  color: white;
}

.App h1 {
  font-family: 'aliens'; 
  font-size: 80px;
  text-align: center;  
}

.score {
  width:200px;
  display: flex;
}

.start {
  display: inline;
  border-style: solid;
  padding: 10px;
  border-radius: 25px;
}

.start:hover {
  cursor: pointer;
}

.tableau{
  display: inline-grid;
  justify-items: center;
  grid-template-columns: repeat(7, 1fr);
  width:30%;
  /* border:10px solid black; */
  padding:0.5rem;
  /* border-radius: 30px; */
  background-image: url(../public/img/bottom.png);
  background-size: cover;
}

.tableau:focus{
  outline:none;
}

.case{
  /* border:1px solid black; */
  margin:none;
  height:35px;
  width:35px
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  position: relative;
}

.menu svg {
  position: absolute;
  top: 10px;
  left : 10px
}