@font-face {
  font-family: "aliens";
  src: url(../public/fonts/Future\ Blood.ttf);
  font-family: 'Press Start 2p';
  src: url(../public/fonts/PressStart2P-Regular.ttf);


}

.App{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width:100%;
  height:100vh;
  background-image: url(../public/img/background.png)  ;
  background-size: cover;
  /* font-size: 60px; */
  text-align: center;
  color: white;
}

.App h1 {
  font-family: 'aliens'; 
  font-size: 80px;
  text-align: center;  
}

.score {
  width:200px;
  display: flex;
}

.start {
  display: inline;
  border-style: solid;
  padding: 10px;
  border-radius: 25px;
}

.start:hover {
  cursor: pointer;
}

.tableau{
  display: inline-grid;
  justify-items: center;
  grid-template-columns: repeat(7, 1fr);
  width:30%;
  /* border:10px solid black; */
  padding:0.5rem;
  /* border-radius: 30px; */
  background-image: url(../public/img/bottom.png);
  background-size: cover;
}

.tableau:focus{
  outline:none;
}

.case{
  /* border:1px solid black; */
  margin:none;
  height:35px;
  width:35px
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  position: relative;
}

.start-btn{
  font-family: 'Press Start 2p';
    text-align: center;
	  display: inline-block;
	  margin:5px;
    font-weight: bold;
    padding: 20px 70px 20px 70px ;
    background-color: white;
    text-shadow: -1px -1px black, 1px 1px white;
    color: #F80029;
    -webkit-border-radius: 7px;
	  -moz-border-radius: 7px;
	  -o-border-radius: 7px;
	  border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;

}
.video-game-button:active, .start-btn:active {
	box-shadow: none;
	position: relative;
	top: .2em;
}

.icons{
  position: absolute;
  top: 10px;
  left : 10px;
  width:200px;
  height:100Px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}